.logo{
    margin-top: 3.5cm ;
    margin-left: 23cm ;
}
.Sigh{
    margin-top: 1cm ;
    margin-left: 22cm ;
    padding-right: 2.6cm;
    padding-top: 15px;

}
.pass{
    margin-top: 0.2cm ;
    margin-left: 22cm ;
    padding-right: 2.6cm;
    padding-top: 15px;

}
.forget{
    margin-top: 0.5cm ;
    margin-left: 21.4cm ;

}
.dont{
    margin-top: 0.6cm ;
    margin-left: 22.5cm ;

}
.downn{
    margin-top: 6.5cm ;
    margin-left: 0.8cm ;

}
